{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": false,
  "bracketSameLine": true,
  "bracketSpacing": true,
  "quoteProps": "consistent",
  "printWidth": 120,
  "tabWidth": 4,
  "useTabs": true,
  "endOfLine": "lf"
}