@import "react-image-gallery/styles/css/image-gallery.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Sweet Sans Pro";
	src: url("/fonts/SweetSansProRegular.woff") format("woff");
	font-style: normal;
	font-display: swap;
	font-weight: normal; /* normal */
}
@font-face {
	font-family: "Sweet Sans Pro";
	src: url("/fonts/SweetSansProMedium.woff") format("woff");
	font-style: normal;
	font-display: swap;
	font-weight: 500;
}
@font-face {
	font-family: "Sweet Sans Pro";
	src: url("/fonts/SweetSansProBold.woff") format("woff");
	font-style: normal;
	font-display: swap;
	font-weight: 700; /* bold */
}

html {
	@apply scroll-smooth bg-grain antialiased font-sweet-sans;
}

.image-gallery-image,
.image-gallery-thumbnail-image {
	@apply aspect-[5/4] object-cover !important;
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus,
.image-gallery-thumbnail:hover {
	@apply border-2 border-matcha-80 !important;
}

.image-gallery-thumbnails {
	@apply pb-0 !important;
}
